<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386507648756-pki9fidkidr1ju8dsus1jecn2dr8q1k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386507648756-pki9fidkidr1ju8dsus1jecn2dr8q1k6</string>
	<key>API_KEY</key>
	<string>AIzaSyCysiVhWHHo46MJmFJCh73bWbqo01Shosw</string>
	<key>GCM_SENDER_ID</key>
	<string>386507648756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shbool.mattal</string>
	<key>PROJECT_ID</key>
	<string>mattal</string>
	<key>STORAGE_BUCKET</key>
	<string>mattal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386507648756:ios:8c8393bf659f2f7f88f8a1</string>
</dict>
</plist>